body,html{
    height: 100%;
    min-height: 100%;
    margin:0px;
}

.center{
  text-align: center;
  display: inline-block;
  width: 100%;
}

.intro {
  background-image: url("http://d27bqd9qyr2lqg.cloudfront.net/2014/home/header-brogramming-niall-phil.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  background-position: top right;
  text-align: center;
  color: white;
  font-family: 'Abel', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5vmin;
  letter-spacing: 4px;
}

.intro_overlay {
  background-color: rgba(0,0,0, 0.45);
}

#hello {
  margin-top: 0px;
  padding-top: 128px;
  text-transform: uppercase;
}

.appDev {
  font-weight: lighter;
  font-family: 'Slabo 27px', Georgia, serif;
}
#experts {
  font-weight: bolder;
  font-family: 'Roboto Slab', Georgia, serif;
  font-size: 2vmin;
}

#video{
 height:55vw
}

#player{
  width:90%;
  height:90%;
  margin:5%;
}

#about {
  color: #D8D8DA;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

#rumbleWay {
  color: #141117;
  font-weight: lighter;
  font-family: 'Slabo 27px', Georgia, serif;
  font-size:40px;
  width: 100%;
  clear:both;
}

#learnMore {
  text-decoration: none;
  color: #f0e99a;
}

#learnMore div {
    border: 2px solid #f0e99a;
    display: inline-block;
    border-radius: 6px;
    padding: 18px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#aboutUs{
  text-align: center;
  font-family: 'Roboto Slab';
}

#aboutUs > * {
  display:inline-block;
  text-align: center;
  margin-bottom: 48px;
}

#culture {
  padding-right:36px;
  width: 35%;
}

#process{
  padding-left:36px;
  width:35%;
}

#culture img , #process img{
  width: 128px;
  height: 128px;
}

#culture h3, #process h3 {
  font-weight: bold;
  font-size: 24px;
}

#culture p, #process p {
  font-size: 24px;
}

#culture a,  #process a {
  color: #5a77b9;
  font-size: 22px;
}

#expertise {
  background-color: #EAEAEC;
  width: 100%;
  padding-top: 40px;
  display: inline-block;
}

#expertise > *{
  font-family: 'Roboto Slab';
  text-align: center;
  display: inline-block;
}

#expertise h1 {
  text-transform: uppercase;
  color: #9c9ba2;
  font-size: 16px;
  width: 100%;
}

#expertise h2 {
  font-weight: lighter;
  font-size: 48px;
  margin: 0px;
  width: 100%;
}

#expertise ul {
  list-style: none;
  display: inline-block;
}

#expertise li {
  width: 20%;
  display: inline-block;
  padding: 0 10px;
}

#expertise img {
  width: 90%;
  display: inline-block;
}

#expertise li p, #expertise li h3 {
  text-align: left;
}

.divider {
  width: 90px;
  height:6px;
  border: 1px solid black;
  display: inline-block;
  background-color: black;
  margin: 0 auto;
  text-align: center;
}

#expertise h2:nth-of-type(2){
  margin-top: 36px;
  font-size:40px;
}

#expertise_keypoints * {
  text-align: left;
}

#expertise_keypoints > ul > li {
  width: 20%;
}

#expertise_keypoints > ul > li > ul > li {
  display: block;
  width: 100%;
  border-top: 1px dotted #b1b0b6;
  line-height: 36px;
  padding-left: 0px;
}

#expertise_keypoints ul ul {
  padding: 0px;
}

#otherProj{
 width:100%;
 background-color: #249588;
 margin: -28px 0 0 0;
 padding: 0px;
 text-align: center;
 font-size:0px;
}

#otherProj h1 {
  font-family: 'Abel', Helvetica, Arial, sans-serif;
  padding: 62px 0px 32px 0px;
  font-size: 42px;
  color: white;
}

#otherProj ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}

#otherProj ul li{
  display: inline-block;
  width:33.3333333333333333333333333333%;
}

#otherProj ul li img {
  width: 100%;
}

.oneThird{
  display: inline-block;
  width: 100%;
}

#getInTouch{
  background-color: #302a39;
  display:inline-block;
  text-align: center;
}

#getInTouch * {
  font-family: 'Abel', Helvetica, Arial, sans-serif;
  text-align: center;
  display:inline-block;
  color: white;
}

#getInTouch h1 {
  text-transform: uppercase;
  font-size: 18px;
  color: #9c9ba2;
  margin-top:48px;
  width: 100%
}

#getInTouch h2 {
  font-size: 48px;
  margin: 0px;
  width: 100%;
}

#getInTouch p {
  width: 70%;
  font-size: 22px;
}

#expertise .divider {
  margin-top: 48px;
  margin-bottom: 24px;
}

.white {
  background-color: white;
  color: white;
  border-color: white;
}

#getInTouch .divider {
  width: 70px;
  height: 5px;
  margin-top: 28px;
  margin-bottom: 18px;
}

#projPlan {
  border-radius: 6px;
  background-color: #5a77b9;
  text-decoration: none;
  font-size: 24px;
  padding: 8px 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#projPlan:hover{
  background-color: #a861ce;
}

#projPlan:active{
  background-color: #B96BD3
}
#contact:active, #culture a:active, #process a:active{
  color: #B96BD3;
}

#contact:hover, #culture a:hover, #process a:hover{
  color: #a861ce;
}

.fullWidth {
  width: 100%;
}

#getInTouch  {
  width:100%;
}

.e-mail {
  margin: 24px 0;
  font-size: 20px;
}
